body {
	background-color: #D8E4F7;
	font-family:Calibri;
}

.header{
    width:100%;
}

.kalah-table {
    margin:auto;
    width:600px;
    height:300px;
    table-layout: fixed;
}

.kalah-pit-cell{
    height: 50px;
    background-color: white;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}

.not-clickable{
    cursor: not-allowed;
}
.clickable{
    cursor: pointer;
}

.kalah-cell{
    height: 75px;
    background-color: white;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}

.kalah-empty-cell{
    height: 75px;
}

.btn-newgame{
    width: 200px;
    height: 50px;
}